@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(171, 137, 240);
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.div-contenido {
  background-image: url("../../public/WhatsApp Image 2024-10-25 at 7.30.23 AM.jpeg");
}
